%section.hero
  .left
    .email-form
      - if cookies[!:saved_lead]
        =image_tag('thanks.png');
      - else
        -#=image_tag('get-updated.png');
        =form_for @subscriber do |f|
          =f.email_field :email, placeholder: "email address..."
          %br
          = f.submit ''
  .right
    %ul
      %li
      %li
      %li
      %li
      %li
      %li

-##
  =image_tag("prototype-birdsEye.jpg");
  =image_tag("pcb-with-corgi.jpg");
  =image_tag("pcb-1-portrait.jpg");
  =image_tag("");
  =image_tag("corgi-drawing-1.jpg");
  =image_tag("");
  %section.soundSamples

  %section.emailSignup
  %section.social
  %section.productInfo
  %section.buildProgress

  .splash-text
    %h1 Corgi On a Boat
    %br
    %p.intro Coming soon The XXXXXXXX. a tiny polyphonic MIDI synth with tons of features, onboard effects, USB Host capability, fully MIDI controllable with plenty of RAM that remembers where you left off as well as 22 editable patches.
    %h2 Build Progress as of Oct 22nd, 2018
    %p Our current position is towards the end of a final prototype.
    %p The knobs are in production and being forged out of iron as you read this in southern England.
    %P The firmware is in great shape, basic functionality is set and we are adding bonus features at this point. There are still bugs to work out and code to refactor, but it's all well within reason.
    %p The case is made from a local hardwood and the outer design is pretty set. The PCB inlayas and heat management are what's getting worked out now.

    %p If you want to stay informed on progress you can do so through email, facebook or instagram. I typically post a progress update about once a week and never spam or share your info.



    %ul.splash-image-triptych
      %li
      %li
      %li
