// Place all the styles related to the spashPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}
body[data-controller="spash_page"]{
  background: #000000;
  color:#ffffff;
  section.hero {
    height: 100vh;
    width: 100%;
    background:#042b4a;
    @media(min-width: 768px){
      display: flex;
    }
    @media(max-width: 767px){
      height: 95vh;
    }
    .left {
      width: 48%;
      height: 100%;
      background: no-repeat center 40%;
      background-image: asset-url("COAB-logo-withTagline.png");
      background-size: 40%;
      position: relative;
      @media(max-width: 768px){
        width:100%;
      }
      @media(min-width: 1370px){
        width:60%;
        background-size: 25%;
      }
      &::before{
        content:"";
        display: block;
        position: absolute;
        z-index: 2;
        bottom: 6px;
        left: 12px;
        width: 25%;
        height: 50px;
        background: no-repeat center center;
        background-image: asset-url("instagram-icon.png");
        background-size: contain;
        opacity: .7;
      }
      .email-form {
        width: 40%;
        margin: 0 30%;
        position: absolute;
        /* bottom: 110px; */
        top: 50%;
        margin-top: 20%;
        @media(min-width: 1370px){
          width:25%;
          margin: 12.5% 37.5%;
        }
        input {
          width: 100%;
          height: 56px;
          font-size: larger;
          &[type=email] {
            background: transparent;
            color:#e6e2d6;
            border: 2px solid #e6e2d6;
            margin-bottom: 10px;
            font-style: italic;
            padding: 2px 12px;
          }
          &[type=submit] {
            background: #e6e2d6 no-repeat center center;
            background-image: asset-url("get-updates.png");
            background-size: 50%;
            color: #000;
            //border: 1px solid #000000;
          }
        }
        > img {
          display: block;
          width: 100%;
          margin-bottom: 14px;

        }
      }
    }
    .right {
      width: 52%;
      height: 100%;
      position: relative;
      @media(max-width: 768px){
        width:100%;
      }
      @media(min-width: 1370px){
        width:40%;
      }
      ul {
        position: relative;
        width: 100%;
        height: 100%;
        li {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: no-repeat;
          &:nth-child(1) {
            background-image: asset-url("ptype-sideView-portrait.jpg");
            background-size: cover;
            animation:fade1 16s infinite;
            -webkit-animation:fade1 16s infinite;
          }
          &:nth-child(2) {
            background-image: asset-url("pcb-with-corgi.jpg");
            background-size: cover;
            animation:fade2 16s infinite;
            -webkit-animation:fade2 16s infinite;
          }
          &:nth-child(3) {
            background-image: asset-url("pcb-1-portrait.jpg");
            background-size: cover;
            animation:fade3 16s infinite;
            -webkit-animation:fade3 16s infinite;
          }
          &:nth-child(4) {
            background-image: asset-url("corgi-1.jpg");
            background-size: cover;
            animation:fade4 16s infinite;
            -webkit-animation:fade4 16s infinite;
          }
        }
      }
    }
    @keyframes fade1 {
      0%   {opacity:1}
      25% { opacity: 0}
      50% { opacity: 0}
      75% { opacity: 0}
      100% { opacity: 1}
    }
    @keyframes fade2 {
      0%   {opacity:0}
      25% { opacity: 1}
      50% { opacity: 0 }
      75% { opacity: 0}
      100% { opacity: 0}
    }
    @keyframes fade3 {
      0%   {opacity:0}
      25% { opacity: 0}
      50% { opacity: 1}
      75% { opacity: 0}
      100% { opacity: 0}
    }
    @keyframes fade4 {
      0%   {opacity:0}
      25% { opacity: 0}
      50% { opacity: 0}
      75% { opacity: 1}
      100% { opacity: 0}
    }
  }
  section.soundSamples {
    background:#333;
    height: 220px;
    width: 100%;
  }
  section.emailSignup {
    background:#444;
    height: 320px;
    width: 100%;
  }
  section.social {
    background:#222;
    height: 120px;
    width: 100%;
  }
  section.productInfo {
    background:#333;
    height: 820px;
    width: 100%;
  }
  section.buildProgress {
    background:#111;
    height: 420px;
    width: 100%;
  }
}
