body[data-controller="subscribers"]{
  color: #ffffff;
  background:#042b4a;
  padding: 45px;
  h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  > ul {
    li {
      padding: 15px 0;
    }
  }
}
